---
type Props = {
  date: Date;
};

const { date } = Astro.props;
const updated = new Date(date);
const id = updated.toISOString().replaceAll(':', '-').replaceAll('.', '-');
---

<p>
  <span class="text-primary-100 dark:text-accent-100 font-bold">
    <time id={`time-${id}`} datetime={updated.toISOString()}>{updated}</time>
  </span>
</p>
<div>
  <slot />
</div>
<script is:inline define:vars={{ id }}>
  const time = document.querySelector(`#time-${id}`);
  time.textContent = new Date(time.getAttribute('datetime')).toLocaleString();
</script>
